<!DOCTYPE html>

<html>
    <head>
	    <title>canna-bot</title>

	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="/views/js/script.js"></script>
    </head>

    <body>
        <h1>
            <center>canna-bot</center>
        </h1>

        <div>
            <center><button class="resume-button">Resume Report</button></center>
            <center><button class="stop-button">Stop Report</button></center>
        </div>

        <!--<div>-->
            <!--<form name="Timer" >-->
                <!--<input type="text" id="seconds" name="seconds"/>-->
                <!--<input type="button" name="Submit" value="Submit" onclick="makeSearch()"/>-->
            <!--</form>-->
        <!--</div>-->
    </body>
</html>